; .editorconfig
root = true

[**.js]
indent_style = space
indent_size = 4
bin = nodejs

[**.css]
indent_style = space
indent_size = 4
bin = nodejs

[**.html]
indent_style = space
indent_size = 4
bin = nodejs
max_char = 78
brace_style = expand

